.dice {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}

.dice svg {
  transition: fill 0.3s, stroke 0.3s;
}

.dice.redDice.showDice svg {
  fill: var(--red);
  stroke: white;
}

.dice.greenDice.showDice svg {
  fill: var(--green);
  stroke: white;
}

.dice.yellowDice.showDice svg {
  fill: var(--yellow);
  stroke: white;
}

.dice.blueDice.showDice svg {
  fill: var(--blue);
  stroke: white;
}
