.colorHome {
  position: relative;
  transition: box-shadow 0.3s;
  border: 1px solid black;
  background-image: url(../../assets/dice.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 40%;
}

.colorHome--turn {
  box-shadow: 0 0 5px 3px inset var(--turn-color);
}

.redHome {
  background-color: var(--red);
  border-top: 2px solid black;
  border-left: 2px solid black;
  grid-area: 1 / 1 / 2 / 2;
}

.blueHome {
  background-color: var(--blue);
  border-top: 2px solid black;
  border-right: 2px solid black;
  grid-area: 1 / 3 / 2 / 4;
}

.greenHome {
  background-color: var(--green);
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  grid-area: 3 / 1 / 4 / 2;
}

.yellowHome {
  background-color: var(--yellow);
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  grid-area: 3 / 3 / 4 / 4;
}

.colorHome svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: auto;
  fill: transparent;
  transition: fill 0.5s, filter 0.5s;
}

.colorHome--turn svg {
  fill: var(--turn-color);
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.colorHome--roll {
  position: absolute;
  color: transparent;
  font-weight: bold;
  left: 0;
  width: 100%;
  text-align: center;
  transition: top 0.3s, bottom 0.3s, color 0.3s;
  pointer-events: none;
  cursor: default;
  user-select: none;
}
.blueHome .colorHome--roll,
.redHome .colorHome--roll {
  top: -1rem;
}
.greenHome .colorHome--roll,
.yellowHome .colorHome--roll {
  bottom: -1rem;
}
.blueHome .colorHome--roll.showRoll,
.redHome .colorHome--roll.showRoll {
  top: 8px;
}
.greenHome .colorHome--roll.showRoll,
.yellowHome .colorHome--roll.showRoll {
  bottom: 8px;
}
.colorHome--roll.showRoll {
  color: white;
}

.colorHome--move {
  position: absolute;
  color: transparent;
  font-weight: bold;
  top: -1rem;
  left: 0;
  width: 100%;
  text-align: center;
  transition: top 0.3s, color 0.3s;
  pointer-events: none;
  cursor: default;
  user-select: none;
}

.colorHome:hover .colorHome--move {
  top: 8px;
  color: white;
}
