.board-container {
  min-width: 400px;
  min-height: 400px;
  width: 90vw;
  height: 90vw;
  position: relative;
}

.board-container.wide {
  width: 80vh;
  height: 80vh;
}

.board {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  box-shadow: 1px 1px 5px 1px grey;
  background-image: url(../../assets/board.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
}

#redTriangleTile {
  grid-area: 1 / 1 / 2 / 3;
}

/* Buscar el punto en el que el gap y el padding lateral sea el mismo */

.prueba {
  position: absolute;
  width: calc((0.8 / 21) * 100%);
  height: calc((0.8 / 21) * 100%);
  background-color: greenyellow;
  border-radius: 500px;
  top: calc((6.5 / 21) * 100%);
  left: calc((4.75 / 9) * 100%);
  transform: translate(-50%, -50%);
}

.prueba2 {
  position: absolute;
  width: calc((0.8 / 21) * 100%);
  height: calc((0.8 / 21) * 100%);
  background-color: greenyellow;
  border-radius: 500px;
  top: calc((6.5 / 21) * 100%);
  left: calc((4.25 / 9) * 100%);
  transform: translate(-50%, -50%);
}
