.piece {
  cursor: pointer;
  position: absolute;
  width: calc(
    (1 / 21) * 100%
  ); /* Get rid of the padding the svg has, then use 0.8 instead of 1 out of 21. */
  height: auto;
  z-index: 9999;
  transition: top 0.5s, left 0.5s;
}

.piece.bluePiece {
  fill: var(--blue);
}

.piece.redPiece {
  fill: var(--red);
}

.piece.greenPiece {
  fill: var(--green);
}

.piece.yellowPiece {
  fill: var(--yellow);
}
