.piece {
  cursor: pointer;
  position: absolute;
  z-index: 9999;
  width: calc(24 / 630 * 100%);
  height: calc(24 / 630 * 100%);
  border-radius: 500px;
  border: 2px solid black;
  transform: translate(-50%, -50%);
  transition: top 0.5s, left 0.5s;
}

.piece.aPiece {
  background-color: pink;
}
.piece.bPiece {
  background-color: aqua;
}
.piece.cPiece {
  background-color: greenyellow;
}

.piece.bluePiece {
  background-color: var(--blue);
}

.piece.redPiece {
  background-color: var(--red);
}

.piece.greenPiece {
  background-color: var(--green);
}

.piece.yellowPiece {
  background-color: var(--yellow);
}
