.piece {
  cursor: default;
  position: absolute;
  z-index: 99999;
  width: calc(24 / 630 * 100%);
  height: calc(24 / 630 * 100%);
  border-radius: 50%;
  border: 2px solid black;
  transform: translate(-50%, -50%);
  transition: top 0.5s, left 0.5s;
}

.pieceTurn {
  cursor: pointer;
}

.pieceTurn:hover {
  box-shadow: 0 0 3px black;
}

.pieceTurn:active {
  box-shadow: none;
}

.piece.bluePiece {
  background-color: var(--blue);
}

.piece.redPiece {
  background-color: var(--red);
}

.piece.greenPiece {
  background-color: var(--green);
}

.piece.yellowPiece {
  background-color: var(--yellow);
}
